@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Philosopher', serif;
}

main {
    background-color: rgba(93, 35, 35, 0.89);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    width: 400px;
    height: 50px;
    padding: 10px;
}


label {
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.radio_in {
    vertical-align: middle;
    margin-right: 5px;
    margin: 10px;
    width: 20px;
}

.radio {
    vertical-align: middle;
    color: black;
    font-size: 20px;
}

span {
    display: inline-block;
}

.botones {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cancelar {
    margin: 5%;
    font-size: 2em;
    width: 150px;
    height: 50px;
    color: black;
}

.enviar {
    margin: 5%;
    font-size: 2em;
    width: 150px;
    height: 50px;
}

.a_cancelar:link {
    text-decoration: none;
    color: black;
}

.a_cancelar:visited {
    text-decoration: none;
    color: black;
}

.a_cancelar:hover {
    text-decoration: none;
    color: black;
}

.a_cancelar:active {
    text-decoration: none;
    color: black;
}
