body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #6c757d;
    color: white;
}

.volver-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #2a2d30; /* Gris */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6c757d;
}

.btn-notificar {
    background-color: #ffc107; /* Amarillo */
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-notificar:hover {
    background-color: #e0a800;
}